
<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>person</mat-icon>
          Informacion de usuario
        </ng-template>
            <mat-grid-list cols="3" rows="2" rowHeight="150px" colwidth="auto">
              <mat-grid-tile [colspan]="2"  [rowspan]="2">
                <form class="personal_Details_Controller">
                  <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput [disabled]="!edit">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <mat-label>Apellidos</mat-label>
                    <input matInput [disabled]="!edit">
                  </mat-form-field>
                </form>
              
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1"  [rowspan]="2" class="personalDetails">
                <div class="personalDetailsInfo">
                  <mat-icon class="profile_icon">person</mat-icon>
                  <br>
                  <h2>Perfil</h2>
                  <br>
                  <mat-form-field>
                    <input matInput [disabled]="!edit" placeholder="Name here">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput [disabled]="!edit" placeholder="Gender">
                  </mat-form-field>
                  
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <button *ngIf="!edit" class="controller" mat-raised-button color="warn"
            
              (click)="toogleEdit()"><mat-icon>mode_edit</mat-icon>
              Editar
            </button>
            <button *ngIf="edit" class="controller" mat-raised-button style="background-color:#6fc75b" 
            
              (click)="toogleEdit()"><mat-icon>save</mat-icon>
              Guardar
            </button>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>payments</mat-icon>
          Metodos de pago
        </ng-template>
        <mat-card>
          <mat-card-header><h2>
            <mat-icon>credit_card</mat-icon>
            *** 1024
          </h2></mat-card-header>
          <mat-card-content>
            <p>Exp: 09/27</p></mat-card-content>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-header>
            <mat-icon>home_pin</mat-icon>
            <h2>Dirección</h2></mat-card-header>
          <mat-card-content>Simple card</mat-card-content>
        </mat-card>
  </mat-tab>
  </mat-tab-group>
  