<h1>Crear un producto</h1>
<mat-divider>
</mat-divider>
<br>
<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Tamaño</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Modelo</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-divider></mat-divider>
      <h2>Medidas</h2>
      <mat-slide-toggle color="secondary">Cristal</mat-slide-toggle>
      <h2>Color</h2>
      <input [(colorPicker)]="color" [style.background]="color"/>
    </form> -->

    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile
      [colspan]=3
      >
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
          <mat-label>Tamaño</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Modelo</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
    </mat-grid-tile>
      <mat-grid-tile
      [colspan]=1
      [rowspan]=2>
      <mat-grid-tile-header>Imagen</mat-grid-tile-header>
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file">
          <span class="file-name">{{selectedFile?.name}}</span>

      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <table [cellSpacing]="3">
          <tr>
            <td><h3>Cristal</h3></td>
            <td>      <mat-slide-toggle color="secondary">Cristal</mat-slide-toggle>
            </td>
            <td>Color</td>
            <td>
              <input [(colorPicker)]="color" [style.background]="color"/>
            </td>
          </tr>
        </table>
      </mat-grid-tile>
      
    </mat-grid-list>
    