<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    <a mat-button routerLink="">Expo Marcos</a>
    <br>
    <form class="searchbar">
        <br>
        <mat-form-field c>
            <mat-label>Search something up</mat-label>
            <input type="tel" matInput>
            <button matSuffix mat-button><mat-icon ></mat-icon></button>
            </mat-form-field>
        <br>
    </form>
    <br>
    
    
    <span  class="example-spacer"></span>
    <a mat-button *appLoginStatus="false" routerLink="login"> Login <mat-icon matSuffix>login</mat-icon></a>
    <a mat-button *appLoginStatus="false" routerLink="signup">Signup</a>
    
    <a mat-button *appLoginStatus="true" (click) = "logOut()">Log out</a>
    <a mat-button *appLoginStatus="true" routerLink="catalog">Catalog</a>

    <a mat-button *appLoginStatus="true" routerLink="checkout">Carrito <mat-icon>shopping_cart</mat-icon></a>

</mat-toolbar>

<mat-sidenav-container autosize  color="primary">
    <mat-sidenav *appLoginStatus="true" [mode]="isMobile ? 'over' : 'side'" [opened]="isCollapsed ? 'false' : 'true'" >
      <mat-list>
        <mat-list-item>Cuenta</mat-list-item>
        <mat-divider></mat-divider>
         <a mat-list-item routerLink="account">
          <span class="entry">
             <mat-icon>person</mat-icon>
             Cuenta
          </span>
       </a>       
       <a mat-list-item  routerLink="login">
        <span class="entry">
           <mat-icon>shopping_bag</mat-icon>
           Historial
        </span>
        </a>
        <a mat-list-item  *ngIf="(admin)" routerLink="adminNotifications">
          <span class="entry">
             <mat-icon>notifications</mat-icon>
             Admin Notifications
          </span>
        </a>
        <a mat-list-item  *ngIf="(admin)" routerLink="create">
          <span class="entry">
             <mat-icon>add_box</mat-icon>
             Add Product
          </span>
        </a>            
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  