<mat-tab-group>
    <mat-tab> <img src="assets/b4.jpg" alt="" srcset=""> </mat-tab>
    <mat-tab> <img src="assets/b5.jpg" alt="" srcset=""></mat-tab>
    <mat-tab> <img src="assets/b6.jpg" alt="" srcset=""></mat-tab>
</mat-tab-group>

<h1 class="page-header">Explora Molduras diferentes</h1>

<mat-grid-list cols="4" rowHeight="200px" [gutterSize]="'20px'">
    <mat-grid-tile>
        <mat-grid-tile-footer>Caoba</mat-grid-tile-footer>
        <!-- <img src="assets/Materiales/Caoba.jpg" alt="" srcset="" layout-fill> -->
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Cedro</mat-grid-tile-footer>
        <!-- <img src="assets/Materiales/Cedro.jpg" alt="" srcset="" layout-fill> -->
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Chocolate</mat-grid-tile-footer>
        <!-- <img src="assets/Materiales/Chocolate.jpg" alt="" srcset="" layout-fill> -->
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Colores fantasia</mat-grid-tile-footer>
        <!-- <img src="assets/Materiales/Colores-fantasia.jpg" alt="" srcset="" layout-fill>  -->
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Hoja de plata</mat-grid-tile-footer>
        <!-- <img src="assets/Materiales/Hoja-de-plata.jpg" alt="" srcset="" layout-fill>  -->
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Negro Mate</mat-grid-tile-footer>
        <!-- <img src="assets/Materiales/Negro-mate.jpg" alt="" srcset="" layout-fill> -->
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Nogal</mat-grid-tile-footer>
        <!-- <img src="assets/Materiales/Nogal.jpg" alt="" srcset="" layout-fill> -->
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Oro de Hoja</mat-grid-tile-footer>
        <!-- <img src="assets/Materiales/Oro-de-hoja.jpg" alt="" srcset="" layout-fill> -->
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer></mat-grid-tile-footer>
        <!-- <img src="assets/Materiales/Marialuisas.jpg" alt="" srcset="" layout-fill> -->
    </mat-grid-tile>
    
</mat-grid-list>