img {
    width: 100%;
    height: auto;
}

.page-header {
    padding: 20px;
    justify-self: center;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
}

mat-grid-tile {
    padding: 10px;
    margin: 20px;
}