<mat-tab-group>
    <mat-tab> <img src="assets/b4.jpg" alt="" srcset=""> </mat-tab>
    <mat-tab> <img src="assets/b5.jpg" alt="" srcset=""></mat-tab>
    <mat-tab> <img src="assets/b6.jpg" alt="" srcset=""></mat-tab>
  </mat-tab-group>

<h1 class="page-header">Explora Molduras diferentes</h1>

<mat-grid-list cols="4" rowHeight="200px" [gutterSize]="'20px'">
    <mat-grid-tile>
        <mat-grid-tile-footer>Caoba</mat-grid-tile-footer>
        <img src="assets/Materiales/Caoba.jpg" alt="" srcset="" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Cedro</mat-grid-tile-footer>
        <img src="assets/Materiales/Cedro.jpg" alt="" srcset="" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Chocolate</mat-grid-tile-footer>
        <img src="assets/Materiales/Chocolate.jpg" alt="" srcset="" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Colores fantasia</mat-grid-tile-footer>
        <img src="assets/Materiales/Colores-fantasia.jpg" alt="" srcset=""
        layout-fill>    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Hoja de plata</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-footer></mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>