.checkOutProducts {
    align-items: start;
}

.checkOutStepper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .checkOutStepper .mat-stepper-vertical {
    width: 100%;
  }
  
  .checkOutStepper .mat-stepper-vertical .mat-step-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .product_card {
    padding: 20px 40px;
   
    mat-card-header {
        font-size: 50;
        font-weight: bolder;
    }
    img {
        width: 250px;
        height: auto;
    }
    mat-card-content {
        font-size:40;
        font-weight: 200;
        flex: 1; /* Allow card content to grow and fill available space */
        display: flex; /* Enable flexbox layout */
        justify-content: space-between;
    }
}

.api {
  padding: 10px;
  width: 100%;
  height: 500px;
  padding-bottom: 100px;
}